.timeline {
  display: flex;
  flex-direction: column;

  &__timer {
    margin-bottom: 10px;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2px;
  }

  &__list {
    position: relative;
    flex-grow: 1;
    max-height: 380px;
    padding: 5px 10px;
    list-style: none;
    border-radius: 5px;
    background-color: #262626;
    box-shadow: inset 0 0 5px 5px rgb(49, 49, 49);
    overflow-y: scroll;
  }

  &__list-item {
    font-size: 2rem;
    font-weight: bold;

    &--white {
      color: #fff;
      text-shadow: 0 0 10px #000;
    }

    &--black {
      color: #000;
      text-shadow: 0 0 10px #fff;
    }
  }
}
